body {
    color: #3d3d46;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html {
    font-family: 'Righteous';
    font-size: 16px;
}

.flotar-izq {
    float: left;
}

.flotar-der {
    float: right;
}

.btn {
    background: #ffa502;
    border: #333 solid 2px;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
}

.error {
    border: 2px solid #B53471;
}

.ocultar {
    display: none;
}

.contenedor {
    width: 1024px;
    margin: 0px auto;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 25px;
}

h1,
h3 {
    color: #6700a3;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

a {
    color: #56cfe1;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

a:hover {
    color: #6700a3;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
}

.logo {
    display: block;
    width: 217px;
    height: 95px;
    background: url('../img/logo.png') no-repeat top left;
}

.sinRegistroBody .logo {
    background: url('../img/logoMorado.png') no-repeat top left;
}

.adminBody header {
    background-color: #000000;
    border-bottom: 5px solid #56cfe1;
}

.sinRegistroBody header {
    background: #FFF;
    color: #6700a3;
}

.h1ParaAdmin {
    color: #00ff00;
}

.h1ParaProveedor {
    color: #00ff00;
}

.duenoBody header {
    background-color: #6700a3;
    border-bottom: 5px solid #56cfe1;
}

.proveedorBody header {
    background-color: #56cfe1;
    border-bottom: 5px solid #6700a3;
}

textarea,
select,
input {
    background: #d5f3f7;
    border: none;
    width: 100%;
    padding: 10px 15px;
}

input[type=file] {
    background: none;
}

input[type=button] {
    background: none;
}

input[type=date] {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

input {
    width: calc(100% - 30px);
}

.contenedorColumna {
    width: 100%;
    display: flow-root;
    margin-bottom: 30px;
}

.contenedorColumna .columna {
    float: left;
    padding: 5px 10px;
    display: block;
}

.dobleColumna .columna:first-child,
.simpleColumna .columna {
    width: calc(33% - 20px);
}

.dobleColumna .columna:last-child {
    width: calc(66% - 20px);
}


/* Invierte las columnas dobles 66% y 33%*/

.dobleColumnaInvertida .columna:first-child,
.simpleColumnaInvertida .columna {
    width: calc(66% - 20px);
}

.dobleColumnaInvertida .columna:last-child {
    width: calc(33% - 20px);
}

.btn-registar {
    text-align: center;
}

.btn-registar button {
    background: #6700a3;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}


/* Genera el marco de la foto en los perfiles */

.div-imgUpload img {
    margin-top: 10px;
    border: 2px solid #56cfe1;
}


/* Inicio*/