body {
    color: #3d3d46;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.flotar-izq {
    float: left;
}

.flotar-der {
    float: right;
}

.centrarTexto {
    text-align: center;
}

.btn,
.swal2-container .swal2-styled.swal2-confirm {
    background: #6700a3;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease 0s;
    outline: none;
}

.btn:hover,
.swal2-container .swal2-styled.swal2-confirm:hover {
    box-shadow: 0px 0px 10px 2px rgba(86, 207, 225, 0.8);
    transition: all 0.5s ease 0s;
}

.error {
    border: 2px solid #f20089;
}

.ocultar {
    display: none;
}

.contenedor {
    width: 1024px;
    margin: 0px auto;
}

section.contenedor {
    margin: 25px auto;
}


/****Sweet alert****/

.swal2-container .swal2-icon.swal2-warning {
    border-color: rgba(103, 0, 163, 0.4);
    color: rgba(103, 0, 163, 0.7);
}

.swal2-container .swal2-icon.swal2-success .swal2-success-ring {
    border-color: rgba(86, 207, 225, 0.4);
    color: rgba(86, 207, 225, 0.7);
}

.swal2-container .swal2-icon.swal2-success,
.swal2-container .swal2-icon.swal2-success [class^=swal2-success-line] {
    color: rgba(86, 207, 225, 0.7);
}

.swal2-container .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: rgba(86, 207, 225, 0.7);
}


/****fin sweet alert****/

h1,
h2,
h3,
h4 {
    margin-bottom: 25px;
}

h1,
h3 {
    color: #6700a3;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

a {
    color: #56cfe1;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

a:hover {
    color: #6700a3;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
}

.logo {
    display: block;
    width: 217px;
    height: 95px;
    background: url('../img/logo.png') no-repeat top left;
}

.sinRegistroBody .logo {
    background: url('../img/logoMorado.png') no-repeat top left;
}

.adminBody header {
    background-color: #000000;
    border-bottom: 5px solid #56cfe1;
}

.sinRegistroBody header {
    background: #FFF;
    color: #6700a3;
}

.h1ParaAdmin {
    color: #00ff00;
}

.h1ParaProveedor {
    color: #00ff00;
}

.duenoBody header {
    background-color: #6700a3;
    border-bottom: 5px solid #56cfe1;
}

.proveedorBody header {
    background-color: #56cfe1;
    border-bottom: 5px solid #6700a3;
}

textarea,
select,
input {
    margin-top: 5px;
    background: #d5f3f7;
    border: none;
    width: 100%;
    padding: 10px 15px;
}

.input-dobleColumna {
    margin-bottom: 39px;
}

input[type=file] {
    background: none;
}

input[type=button] {
    background: none;
}

input[type=date] {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

input {
    width: calc(100% - 30px);
}

.contenedorColumna {
    width: 100%;
    display: flow-root;
    margin-bottom: 30px;
}

.contenedorColumna .columna {
    float: left;
    padding: 5px 10px;
    display: block;
}

.contenedorColumna textArea {
    width: 94%;
    margin-left: 10px;
    height: 50px;
}

.dobleColumna .columna:first-child,
.simpleColumna .columna {
    width: calc(33% - 20px);
}

.dobleColumna .columna:last-child {
    width: calc(66% - 20px);
}


/* Invierte las columnas dobles 66% y 33%*/

.dobleColumnaInvertida .columna:first-child,
.simpleColumnaInvertida .columna {
    width: calc(66% - 20px);
}

.dobleColumnaInvertida .columna:last-child {
    width: calc(33% - 20px);
}

.btn-general {
    text-align: center;
}

.btn-general button {
    background: #6700a3;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}


/* Genera el marco de la foto en los perfiles */

.div-imgUpload {
    text-align: center;
}

.div-imgUpload span input {
    margin-left: 55px;
}

.div-imgUpload img {
    margin-top: 10px;
    border: 2px solid #56cfe1;
}


/* Inicio*/