/******* header *****/

header {
    background: rgba(255, 255, 255, 0.6);
    border-bottom: 5px solid #56cfe1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: all 0.5s ease 0s;
}

header .contenedor {
    margin: 0 auto;
    display: flow-root;
    position: relative;
}

header h1 {
    margin: 0;
}

header .logo {
    display: block;
    width: 217px;
    height: 95px;
    background: url('../img/logoMorado.png') no-repeat top left;
    background-size: 100% !important;
    margin: 5px 0px 5px -24px;
    float: none;
    transition: all 0.5s ease 0s;
}

header .menuPrincipal-Activador {
    margin: 43px 0px;
    cursor: pointer;
    width: 25px;
    height: 3px;
    padding: 9px 0px;
    transition: all 0.5s ease 0s;
}

header .menuPrincipal-Activador span {
    position: relative;
    display: block;
}

header .menuPrincipal-Activador span,
header .menuPrincipal-Activador span::before,
header .menuPrincipal-Activador span::after {
    width: 25px;
    height: 4px;
    background: #6700a3;
    display: block;
    transition: all 0.5s ease 0s;
}

header .menuPrincipal-Activador span::before,
header .menuPrincipal-Activador span::after {
    position: absolute;
    left: 0px;
    content: "";
}

header .menuPrincipal-Activador span::before {
    top: -8px;
}

header .menuPrincipal-Activador span::after {
    bottom: -8px;
}

header .menuPrincipal {
    position: absolute;
    top: -100px;
    right: 50px;
    transition: all 0.5s ease 0s;
}

header .menuPrincipal li {
    display: block;
    float: left;
    padding: 0 15px;
}

header .menuPrincipal li a {
    padding: 10px 0px;
    display: block;
    position: relative;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}

header .menuPrincipal li a:hover {
    color: #ffffff;
    text-decoration: none;
}

header .menuPrincipal li a::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    display: block;
    width: 0%;
    height: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0);
    transition: all 0.5s ease 0s;
}

header .menuPrincipal li a:hover::after {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    transition: all 0.5s ease 0s;
}

header.Activado {
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease 0s;
}

header.Activado .logo {
    background: url('../img/logo.png') no-repeat top left;
    transition: all 0.5s ease 0s;
}

header.Activado .menuPrincipal-Activador span,
header.Activado .menuPrincipal-Activador span::before {
    width: 27px;
    height: 4px;
    background: #ffffff;
    transition: all 0.5s ease 0s;
    transform: rotate(45deg);
}

header.Activado .menuPrincipal-Activador span::after {
    width: 0;
    height: 0;
}

header.Activado .menuPrincipal-Activador span {
    transform: rotate(45deg);
}

header.Activado .menuPrincipal-Activador span::before {
    transform: rotate(-90deg);
    top: 0px;
}

header.Activado .menuPrincipal {
    top: 30px;
    transition: all 0.5s ease 0s;
}

header.fixed {
    position: fixed;
}

header.fixed .logo {
    width: 150px;
    height: 70px;
    transition: all 0.5s ease 0s;
}

header.fixed .menuPrincipal-Activador {
    margin: 29px 0px;
    transition: all 0.5s ease 0s;
}

header.Activado.fixed .menuPrincipal {
    top: 20px;
}

header.fixed .menuPrincipal li a {
    font-size: 20px;
}


/******* slider *****/

.sliderContenedor {
    height: 600px;
    width: 100%;
}

.slide {
    /*display: none;*/
    position: relative;
}

.slide span {
    width: 100%;
    display: block;
    height: 600px;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.slide span.sliderImagen1 {
    background-image: url(../img/index/slider1.jpg);
}

.slide span.sliderImagen2 {
    background-image: url(../img/index/slider2.jpg);
}

.slide span.sliderImagen3 {
    background-image: url(../img/index/slider3.jpg);
}

.sliderInformacion {
    position: absolute;
    display: block;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.sliderInformacion p.titulo {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
}

.sliderInformacion p {
    color: #6700a3;
    letter-spacing: 5px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 350px;
}

.animacionTitulo {
    -webkit-animation-name: animacionTitulo;
    -webkit-animation-duration: 1.9s;
    animation-name: animacionTitulo;
    animation-duration: 1.9s;
}

@-webkit-keyframes animacionTitulo {
    0% {
        opacity: .4;
        left: 30%;
    }
    100% {
        left: 10%;
    }
}

@keyframes animacionTitulo {
    0% {
        opacity: .4;
        left: 30%;
    }
    100% {
        left: 10%;
    }
}

main>section {
    padding-bottom: 75px;
}

main>section#seccionPublicidad {
    padding: 0px;
}

section.contenedor {
    margin: 25px auto;
    max-width: 1024px;
}


/*********/

h2 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-align: center;
    color: #6700a3;
    padding-top: 100px;
    letter-spacing: 3px;
}

.imgBtn {
    display: block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    text-decoration: none;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 411px;
    height: 73px;
    padding: 10px;
}

.imgBtn:hover {
    color: #ffffff;
    text-decoration: none;
}

.imgBtn.eventosSaludAnimal {
    background-image: url("../img/index/interactuamosBtn1.jpg");
}

.imgBtn.voluntarios {
    background-image: url("../img/index/interactuamosBtn2.jpg");
}

.imgBtn.donaciones {
    background-image: url("../img/index/interactuamosBtn3.jpg");
}

.imgBtn span.accionesContenedor {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.5s ease 0s;
    display: block;
    width: 409px;
    height: 71px;
    position: relative;
}

.imgBtn:hover span.accionesContenedor {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.5s ease 0s;
}

.imgBtn span.masInfo,
.imgBtn span.llamarAccion {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.imgBtn span.masInfo,
.imgBtn:hover span.llamarAccion {
    font-size: 24px;
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.imgBtn:hover span.masInfo,
.imgBtn span.llamarAccion {
    font-size: 0px;
    opacity: 0;
    transition: all 0.5s ease 0s;
}


/*
.imgBtn span.masInfo,
.imgBtn:hover span.llamarAccion {
    opacity: 1;
    width: 409px;
    height: 71px;
    background: none;
    border: none;
}

.imgBtn:hover span.masInfo,
.imgBtn span.llamarAccion {
    opacity: 0;
    width: 0;
    height: 0;
}*/


/* Inicio: Estilos de la sección "Acerca de nosotros" de Pro Mascotas LP */

#seccionAcercaNosotros .contenedor p {
    text-align: justify;
    margin-top: 10px;
}

#seccionAcercaNosotros .contenedor h3 {
    color: black;
    font-size: 20px;
}


/* Inicio: Estilos de la sección "Acerca de nosotros" de Pro Mascotas LP */


/* Inicio: Estilos de la sección "¿Interactuamos?" de Pro Mascotas LP */

#seccionInteraccion {
    background: #56cfe1;
    min-height: 600px;
}

.interactuamos {
    display: flow-root;
}

.seccion-izq,
.seccion-der {
    width: calc(50% - 50px);
    padding-top: 25px;
    min-height: 160px;
}

.seccion-izq {
    float: left;
}

.seccion-der {
    float: right;
}

.seccion-izq div {
    border-right: #ddd solid 1px;
    padding: 10px 0;
}

.seccion-der div {
    padding: 10px 0;
}

.seccion-izq h3,
.seccion-der h3 {
    color: black;
    font-size: 20px;
}

.seccion-izq p,
.seccion-der p {
    width: 409px;
    margin-bottom: 30px;
    text-align: justify;
}


/* Inicio: Estilos de la sección "Contactenos" de Pro Mascotas LP */

#seccionContactanos {
    min-height: 600px;
    color: #ffffff;
    background: rgb(30, 73, 79);
    background: linear-gradient(90deg, rgba(30, 73, 79, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(41, 0, 65, 1) 100%);
}

#seccionContactanos h3 {
    color: #ffffff;
}

#seccionContactanos input {
    background-color: #ffffff;
    margin-bottom: 20px;
}

#seccionContactanos textarea {
    height: 50px;
    background-color: #ffffff;
}

#btn-contactenos {
    margin-top: 20px;
}

.span-contac {
    font-size: 21px;
}

#seccionPublicidad {
    background-color: #cccde2;
    min-height: 130px;
    max-height: 154px;
}

#seccionPublicidad {
    margin-top: -25px;
}

.img-publicidad {
    margin: 0 auto;
    width: 50%;
}

#img-publicidad {
    margin-top: 2px;
}


/* Inicio: Estilos de la sección "¿Interactuamos?" de Pro Mascotas LP */


/* Inicio: Estilos de la sección "¿Te unis?" de Pro Mascotas LP */

.imgBtn.eventosSaludAnimalD1 {
    background-image: url("../img/index/unirmeDuennoBtn.jpg");
}

.imgBtn.eventosSaludAnimalD2 {
    background-image: url("../img/index/unirmeProveedorBtn.jpg");
}

#seccionUnirme {
    min-height: 500px;
}

#seccionUnirme h3 {
    color: #3d3d46;
}

#seccionUnirme p {
    margin-bottom: 25px;
}


/* Inicio: Estilos de la sección "¿Interactuamos?" de Pro Mascotas LP */


/* Inicio: Estilos de la sección "Contactenos" de Pro Mascotas LP */

#seccionContactanos {
    background: rgb(30, 73, 79);
    background: linear-gradient(45deg, rgba(30, 73, 79, 1) 0%, rgba(0, 0, 0, 1) 54%, rgba(41, 0, 65, 1) 100%);
    min-height: 600px;
}

#seccionContactanos .contenedor {
    margin-top: 0px;
}

.contactenos-fila {
    margin-top: 30px;
}

#seccionContactanos textarea,
#seccionContactanos select,
#seccionContactanos input {
    width: 94%;
    margin-top: 10px;
}

#seccionContactanos .flotar-der,
#seccionContactanos .flotar-izq {
    width: 50%;
    margin-top: 25px;
}

#seccionContactanos .columna label p {
    color: #ddd;
    margin-left: 10px;
}

.contactenos-fila p {
    margin: 0px;
}

#seccionContactanos .flotar-der button {
    float: right;
}

#seccionContactanos .columna h3 {
    color: #ddd;
    margin-left: 10px;
}


/* Final: Estilos de la sección "Contactenos" de Pro Mascotas LP */


/* Inicio: Estilos de la sección "Patrocinadores" de Pro Mascotas LP */

#seccionPatrocinadores {
    background: #56cfe1;
}

#seccionPatrocinadores .contenedor {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.patrocinadores {
    display: block;
    margin: 20px;
    background-size: auto;
    background-repeat: no-repeat;
    transition: all 0.5s ease 0s;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
}

.patrocinadores:hover {
    transition: all 0.5s ease 0s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.patrocinador1 {
    background-image: url("../img/index/patrocinadoresBtn1.png");
    height: 86px;
    width: 87px;
}

.patrocinador2 {
    background-image: url("../img/index/patrocinadoresBtn2.png");
    height: 86px;
    width: 142px;
}

.patrocinador3 {
    background-image: url("../img/index/patrocinadoresBtn3.png");
    height: 85px;
    width: 156px;
}

.patrocinador4 {
    background-image: url("../img/index/patrocinadoresBtn4.png");
    height: 88px;
    width: 108px;
}

.patrocinador5 {
    background-image: url("../img/index/patrocinadoresBtn5.png");
    height: 86px;
    width: 95px;
}


/* Final: Estilos de la sección "Patrocinadores" de Pro Mascotas LP */