html {
    background: rgb(28, 1, 43);
    background: linear-gradient(62deg, rgba(28, 1, 43, 0.9976191160057774) 0%, rgba(0, 0, 0, 1) 27%);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: transparent;
    background-image: url('../img/bgrInicioSesion.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 100px) -75%;
    min-height: 100vh;
}

a:hover {
    color: #b6b8d6;
}

.inicioSesionContenedor h1,
.inicioSesionContenedor h2 {
    color: #56cfe1;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.logoInicioSesion {
    background: url('../img/logoInicioSesion.png') no-repeat top left transparent;
    background-size: 100%;
    display: block;
    height: 289px;
    width: 584px;
    margin: 25px auto 50px;
}

.capturaContenedor {
    background: rgba(70, 70, 70, 0.1);
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 60%;
}

.formularioInicioSesion {
    max-width: 500px;
    margin: 0 auto;
}

.formularioInicioSesion div {
    padding: 20px 0px;
}

label {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

input {
    background: #ffffff;
    border: 2px solid #ffffff;
    font-size: 15px;
    color: #3d3d46;
    transition: all 0.5s ease 0s;
}

input:hover,
input:focus {
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 12px 2px #56cfe1;
    outline: none;
    transition: all 0.5s ease 0s;
}

.btn:hover {
    box-shadow: 0px 0px 10px 2px rgba(86, 207, 225, 0.35);
    transition: all 0.5s ease 0s;
}

.modal h1,
.modal h2 {
    color: #6700a3 !important;
}

.modal p {
    color: #3d3d46;
    padding: 25px;
}

.modal label,
.modal input {
    display: block;
    margin: 10px auto 20px;
    width: 90%;
}

.modal label {
    color: #3d3d46;
    font-weight: 600;
    max-width: 900px;
}

.modal input {
    max-width: 880px;
    background: #d5f3f7;
    padding: 10px 15px;
}