.columna-noMargenBottom div input,
h3,
h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.proveedorBody .contenedor .btn-editar {
    float: right;
    margin-right: 25px;
}

.puntosProveedor {
    color: #56cfe1;
    font-size: 30px;
}

.puntosActivos {
    color: #6700a3;
}