.inpt-raza {
    margin-bottom: 25px;
}

.mostrar {
    display: block;
}

.morada {
    font-size: 20px;
    color: #6700a3;
    float: right;
    margin-bottom: 25px;
    background-color: transparent;
    border: none;
}

.btn-mascota {
    margin-top: 55px;
}

.img-proveedor {
    height: 177px;
    width: 175px;
}