.tabla {
    margin: auto;
    width: 80%;
    margin-top: 30px;
}

.tabla tr {
    height: 35px;
}

.tabla thead tr {
    background: #6700a3;
    color: #fff;
}

.tabla thead tr th {
    width: 200px;
    text-align: center;
}

.tabla tbody tr:nth-child(even) {
    background: #b6d8d6;
    color: #6700a3;
}

.tabla tbody tr td {
    width: 200px;
    text-align: center;
}